<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../styles/reset.css" />
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="../header/styles.css" />
    <title>ABMCD</title>
  </head>
  <body>
    <header>
      <div class="header-top">
        <div class="logo">
          <img class="logo-image" src="../../../assets/logo.png" />
          <div class="logo-texts">
            <h1 class="logo-title">ABMCD</h1>
            <h3 class="logo-description">
              Associação Beneficiente Dos Moradores da Caixa D'água
            </h3>
          </div>
        </div>

        <a href="https://www.vakinha.com.br/vaquinha/almoco-de-natal-da-comunidade" class="button-doe-agora">DOE AGORA</a>
      </div>
      <div class="header-bottom">
        <a href="../../../index.html">HOME</a>
        <a href="../sobre-nos/index.html">SOBRE NÓS</a>
        <a href="../seja-voluntario-page/index.html">SEJA VOLUNTÁRIO</a>
        <a href="https://www.facebook.com/abmcdagua/">FACEBOOK</a>
        <a href="../fale-conosco/index.html">CONTATO</a>
      </div>
    </header>

    <main>
      <div class="background-images">
        <img src="../../../assets/imgs-seja-voluntario/img1.jpg" />
        <img src="../../../assets/imgs-seja-voluntario/img2.jpg" />
        <img src="../../../assets/imgs-seja-voluntario/img3.jpg" />
        <img src="../../../assets/imgs-seja-voluntario/img4.jpg" />
      </div>
      <div class="card">
        <p class="abmcd">ABMCD</p>
        <h1 class="card-title">SEJA UM VOLUNTÁRIO<br />OU DOE AGORA MESMO</h1>
        <p class="card-description">
          Você pode fazer parte da nossa missão de criar um futuro melhor para
          os necessitados. Seja através do voluntariado, fazendo uma doação ou
          divulgando nossa causa, toda contribuição conta. Juntos, podemos
          causar um impacto duradouro e levar esperança às comunidades
          vulneráveis.
        </p>
        <a href="../fale-conosco/index.html" class="button-fale-conosco"
          >Fale conosco</a
        >
      </div>
    </main>
  </body>
</html>
