<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../styles/reset.css" />
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="../header/styles.css" />
    <title>ABMCD</title>
  </head>
  <body>
    <header>
      <div class="header-top">
        <div class="logo">
          <img class="logo-image" src="../../../assets/logo.png" />
          <div class="logo-texts">
            <h1 class="logo-title">ABMCD</h1>
            <h3 class="logo-description">
              Associação Beneficiente Dos Moradores da Caixa D'água
            </h3>
          </div>
        </div>

        <a href="https://www.vakinha.com.br/vaquinha/almoco-de-natal-da-comunidade" class="button-doe-agora">DOE AGORA</a>
      </div>
      <div class="header-bottom">
        <a href="../../../index.html">HOME</a>
        <a href="../sobre-nos/index.html">SOBRE NÓS</a>
        <a href="../seja-voluntario-page/index.html">SEJA VOLUNTÁRIO</a>
        <a href="https://www.facebook.com/abmcdagua/">FACEBOOK</a>
        <a href="../fale-conosco/index.html">CONTATO</a>
      </div>
    </header>

    <main>
      <div class="fale-conosco-container">
        <div class="textos-fale-conosco">
          <h2>FALE CONOSCO</h2>
          <p>
            Tem dúvidas ou quer saber mais sobre o nosso trabalho? Nós
            adoraríamos ouvir de você.<br />
            Entre em contato conosco através de nossas opções de contato e nossa
            equipe terá<br />
            prazer em fornecer todas as informações necessárias.
          </p>
        </div>

        <form class="fundo-azul" id="formulario">
          <div class="box-input1">
            <label for="name"></label>
            <input
              type="text"
              class="input-1"
              name="title"
              id="nome"
              placeholder="Nome"
              class="block"
              minlength="1"
              maxlength="30"
              required
            />
          </div>

          <div class="box-input2">
            <label for="name"></label>
            <input
              type="text"
              class="input-2"
              name="title"
              id="mensagem-texto"
              placeholder="Mensagem"
              class="block"
              minlength="1"
              maxlength="100"
              required
            />
          </div>

          <button class="button-enviar">Enviar</button>
        </form>
      </div>

      <div class="contato-container">
        <h1 class="contact-title">CONTATO</h1>

        <div class="contact-info">
          <img src="../../../assets/imgs-fale-conosco/email.png" />

          <div class="contact-info-texts">
            <p>Email</p>
            <p>associacaocaixadagua1997@gmail.com</p>
          </div>
        </div>

        <div class="contact-info">
          <img src="../../../assets/imgs-fale-conosco/telefone.png" />

          <div class="contact-info-texts">
            <p>Contato</p>
            <p>(11) 3978-7463</p>
          </div>
        </div>

        <div class="contact-info">
          <img src="../../../assets/imgs-fale-conosco/localizacao.png" />

          <div class="contact-info-texts">
            <p>Endereço</p>
            <p>Av. João Pessoa, 387 São Paulo - SP</p>
          </div>
        </div>
      </div>
    </main>

    <script src="./script.js"></script>
  </body>
</html>
