<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../styles/reset.css" />
    <link rel="stylesheet" href="../header/styles.css" />
    <link rel="stylesheet" href="styles.css" />
    <title>ABMCD</title>
  </head>
  <body>
    <header>
      <div class="header-top">
        <div class="logo">
          <img class="logo-image" src="../../../assets/logo.png" />
          <div class="logo-texts">
            <h1 class="logo-title">ABMCD</h1>
            <h3 class="logo-description">
              Associação Beneficiente Dos Moradores da Caixa D'água
            </h3>
          </div>
        </div>

        <a href="https://www.vakinha.com.br/vaquinha/almoco-de-natal-da-comunidade" class="button-doe-agora">DOE AGORA</a>
      </div>
      <div class="header-bottom">
        <a href="../../../index.html">HOME</a>
        <a href="../sobre-nos/index.html">SOBRE NÓS</a>
        <a href="../seja-voluntario-page/index.html">SEJA VOLUNTÁRIO</a>
        <a href="https://www.facebook.com/abmcdagua/">FACEBOOK</a>
        <a href="../fale-conosco/index.html">CONTATO</a>
      </div>
    </header>

    <div class="container">
      <div class="area-azul">
        <div class="forms">
          <h2>SOBRE NÓS</h2>
          <p>A união de pessoas teve início em 1997, com o objetivo de acessar projetos governamentais e suprir as necessidades da comunidade, que até então estava unida por si só, sem apoio do governo. Diante das demandas da época, constituímos uma ONG.<br><br>

            O trabalho foi crescendo, e ao longo dos anos conseguimos estruturar a comunidade com serviços essenciais para o bem de todos. Hoje, realizamos a distribuição de leite para crianças e idosos, distribuímos cestas básicas e organizamos eventos em datas festivas, pois na comunidade não existiam opções de lazer para as famílias. Em conjunto com as ações sociais, também começamos a realizar passeios para teatros, exposições, Sesc, entre tantos outros.<br><br>
            
            A princípio, a ONG foi criada para a defesa e garantia dos direitos de todos. Atualmente, nossa frente de trabalho consiste no olhar infantojuvenil e nos encaminhamentos sociais das famílias. Podemos dizer que trabalhamos com a intenção de trazer a memória afetiva para as famílias, não apenas através da questão social, mas também proporcionando momentos de bem-estar e alegria a cada uma delas. Hoje, temos a Fábrica de Cultura, que supre as múltiplas formas de mostrar à comunidade caminhos diferentes para se estabelecer na vida adulta e social.<br><br>

            Nosso objetivo é sempre estar atentos às necessidades em constante evolução da comunidade e adaptar nossos programas e serviços para melhor atendê-las. Acreditamos que, juntos, podemos construir uma comunidade mais forte, resiliente e unida, onde cada indivíduo tenha a oportunidade de prosperar e alcançar seu pleno potencial.
            </p>
        </div>
      </div>
      <div class="image-grid">
        <img src="../../../assets/imgs-sobre-nos/abmcd1.jpeg" alt="Imagem 1">
        <img src="../../../assets/imgs-sobre-nos/abmcd3.jpeg" alt="Imagem 2">
        <img src="../../../assets/imgs-sobre-nos/abmcd2.jpeg" alt="Imagem 3">
        <img src="../../../assets/imgs-sobre-nos/abmcd4.jpeg" alt="Imagem 4">
      </div>
    </div>
  </body>
</html>
